{% extends "base.html" %}
  {% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">System Tools</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6" style="width: 35%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Restart Server
                        </div>
                        <!-- /.panel-heading -->
                        <form method="post" action="/system_setup/restart_server/">
                        <div class="panel-body" style="height:280px">
                            <div style="height:250px">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        Salt Master <button type="submit" name="restart" value="master" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                    <div class="list-group-item">
                                        Salt Api  <button type="submit" name="restart" value="api" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                    <div class="list-group-item">
                                        Salt Minion  <button type="submit" name="restart" value="minion" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                    <div class="list-group-item">
                                        RabbitMQ  <button type="submit" name="restart" value="rabbitmq" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                    <div class="list-group-item">
                                        RabbitMQ Management  <button type="restart" name="management" value="update" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                    <div class="list-group-item">
                                        Celery  <button type="submit" name="restart" value="celery" class="pull-right  btn btn-outline btn-primary btn-xs">Restart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6" style="width: 65%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Restart Server
                        </div>
                        <!-- /.panel-heading -->
                        <form method="post" action="/system_setup/update_grains/">
                        <div class="panel-body" style="height:280px">
                            <div style="height:250px">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        Update Global Grains <button type="submit" name="update" value="update" class="pull-right  btn btn-outline btn-success btn-xs">Update</button>
                                    </div>
                                    <!--
                                    <div class="list-group-item">
                                        Return Data Cycle  <span class="pull-right"><input class="form-control" placeholder="Enter text"></span>
                                    </div>
                                    <div class="list-group-item">
                                        Salt Minion  <span class="pull-right  btn btn-outline btn-primary btn-xs">Restart</span>
                                    </div>
                                    <div class="list-group-item">
                                        RabbixMQ  <span class="pull-right  btn btn-outline btn-primary btn-xs">Restart</span>
                                    </div>
                                    <div class="list-group-item">
                                        RabbixMQ Management  <span class="pull-right  btn btn-outline btn-primary btn-xs">Restart</span>
                                    </div>
                                    <div class="list-group-item">
                                        Celery  <span class="pull-right  btn btn-outline btn-primary btn-xs">Restart</span>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                    <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

  {% endblock %}

