{% extends "base.html" %}
  {% block content %}
      <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Highstate</h2>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Highstate
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <label><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration:none">Target</a></label>
                            <form method="post" action="../states_config/highstate_result.html" target="iframepage">     <!-- target iframe refresh highstate_result.html -->
                                <div id="collapseOne" class="panel-collapse collapse on">
                                    <div class="panel-body" style="padding:0px">
                                        <table class="table table-striped table-bordered table-hover">
                                            <tr>
                                                <td>
                                                   <label>Groups</label>
                                               </td>
                                               <td>
                                                   <label>Hosts</label>
                                               </td>
                                            </tr>
                                            {% for groups,hosts in list_groups.items %}
                                            <tr>
                                                <td style="white-space: nowrap;">
                                                   <div class="checkbox-inline" style="margin-left:7px">
                                                      <input  id="{{ groups }}"  onclick="selectAll('{{ groups }}')" type="checkbox" value="">{{ groups }}
                                                   </div>
                                                </td>
                                                <td>
                                                   {% for host in hosts %}
                                                       <div class="checkbox-inline" name="checkedhost">
                                                           <input class="{{ groups }}" name="hosts_name"  onclick="selectAll()" type="checkbox" value="{{ host }}" >{{ host }}
                                                       </div>
                                                   {% endfor %}
                                               </td>
                                            </tr>
                                           {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px">
                                <label>SLS</label>
                                <div class="panel panel-default">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding: 0px"  valign="top">
                                                <div class="panel-body" style="width: 100%;padding-right: 0px">
                                                    <ul id= "active_li" class="nav nav-tabs">
                                                        {% for name in all_sls %}
                                                        <li><a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </td>
                                            <td width="80%">
                                                <div class="panel-body" style="width: 100%;padding-left: 0px">
                                                    <div id = "active_tex" class="tab-content">
                                                        {% for name,contents in all_sls.items %}
                                                        <div class="tab-pane fade in " id="{{ name }}" style="width: 100% ">
                                                            <textarea class="form-control" rows="15" >{% for content in contents %}{{ content }}{% endfor %}</textarea>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <th style="padding:0px 5px 0px 0px">
                                            <input id="sls_name" name="sls_name" type="text" placeholder="SLS Name" class="form-control" />
                                        </th>
                                        <th style="padding:0px 5px 0px 0px">
                                            <input type="button" onClick="AddSLS()" value="Save As" class="btn btn-outline btn-primary btn-xs" />
                                        </th>
                                        <th style="padding:0px 5px 0px 0px">
                                            <input type="submit" value="Execute" class="btn btn-outline btn-success btn-xs" />
                                        </th>
                                        <th style="padding:0px 5px 0px 0px">
                                            <input type="button" onClick="DelSLS()" value="DEl" class="btn btn-outline btn-danger btn-xs" />
                                        </th>
                                        <th style="padding:0px 5px 0px 0px">
                                            <input type="reset" value="Reset" class="btn btn-outline btn-primary btn-xs" />
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            </form>
                            <div class="form-group">
                                <label>Command Result</label>
                                <iframe src="../states_config/highstate_result.html"  marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="100%" height=100% id="iframepage" name="iframepage" onLoad="iFrameHeight()"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // select all
        function selectAll(group){
           var checklist = document.getElementsByClassName(group);
            //alert(checklist)
           if(document.getElementById(group).checked) {
               for(var i=0;i<checklist.length;i++) {
                     checklist[i].checked = 1;
                  }
           }
           else {
               for(var j=0;j<checklist.length;j++) {
                    checklist[j].checked = 0;
                }
           }
        }

        // frame css
        function iFrameHeight() {
           var ifm = document.getElementById("iframepage");
           var subWeb = document.frames ? document.frames["iframepage"].document :
              ifm.contentDocument;
              if(ifm != null && subWeb != null) {
              ifm.height = subWeb.body.scrollHeight;
              }
        }

        // onload show first li and textarea
        function active() {
            var li = document.getElementById("active_li");
            var tex = document.getElementById("active_tex");
            var activeLi = li.getElementsByTagName("li");
            var activeTex = tex.getElementsByTagName("div");
            activeLi[0].className = "active";
            activeTex[0].className = "tab-pane fade in active";
        }
        window.onload = active();

        //add SLS
        function AddSLS(){
            var sls_name = document.getElementById("sls_name").value.replace(/(^\s*)|(\s*$)/g, "");
            var sls_content = document.getElementsByClassName("tab-pane fade in active")[0];
            var sls_content_active = sls_content.getElementsByTagName("textarea")[0].value;
            if (sls_name == ""){
                alert("SLS name is null")
            }
            else{
                if (sls_content_active == ""){
                    alert ("SLS content is null")
                }
                else{
                    $.post("../states_config/add_sls", { filename: sls_name , content: sls_content_active } );
                    window.location.reload()
                }
            }
        }

        //del sls
        function DelSLS(){
            var sls_name = document.getElementById("sls_name").value.replace(/(^\s*)|(\s*$)/g, "");
            if (sls_name == ""){
                alert("SLS name is null")
            }
            else{
                $.post("../states_config/del_sls", { filename: sls_name });
                window.location.reload()
            }
        }

    </script>

{% endblock %}
